/* Colors */

// Light Gray: #f7f7f7
// Blue: #33658A
// Pink: #A3014A
// Red: #C14D3E
// Green: #426300

* {
	box-sizing: border-box;
}

/* Header */

h1 {
	color: #0C7486;
	text-transform: uppercase;
	font-family: 'Montserrat-Medium', sans-serif;
}

header {
	background-color: #f7f7f7;
	border-top: 5px solid #0C7486;
	padding: .5em 2em;
}

/* Navigation */


nav {padding: .5em 2em;
			margin-top: 1.5em;
			font-family: 'Nobile', sans-serif;
			text-align: center;}

nav a {color: black;
				text-decoration: none;
				display: block;
				margin-bottom: 1em;
				display: inline-block;}

nav a:hover {color: #C84441;
						border-bottom: 5px solid #C84441;
						padding-bottom: .25em;}

/* Main Content */

body {
	font-family: 'Nobile', sans-serif;
	margin: 0;}

main {padding: 0 2em 1em 2em;
			margin: 0 auto;}

h2 {font-family: 'Montserrat-Regular', sans-serif;
		color: #2C7AB6;}

ul {list-style-type: none;
	margin: 0;}

.work-list .donate {
				border: 5px solid #0C7486;
				padding-left: 1em;
				padding-right: 1em;
				padding-top: 1em;
				padding-bottom: 1em;
				margin-bottom: 2em;
				margin-top: 1em;
				text-decoration: none;}

.work-list h4 a {color: black;
								text-decoration: none;
								margin-top: .5em;
								margin-bottom: .5em;}

.work-list h4 a:hover {color: #C84441;
					border-bottom: 5px solid #C84441;
					padding-bottom: .25em;}

.selected {color: #C84441;
	border-bottom: 5px solid #C84441;
	padding-bottom: .25em;}

.button  {padding: .75em .75em .75em .75em;
					color: white;
					text-decoration: none;
					border-radius: 1px;
					text-transform: uppercase;
					font-size: .9em;}

.Donate {background-color: #C84441;}

.form {color: #2C7AB6}

.hero1 {width: 100%;}

span {color: #C84441;}

/* Footer */

.contact {text-align: center;}

.twitter {max-width: 6%;}
.instagram {max-width: 6%;}
.facebook {max-width: 6%;}

footer {
	background-color: #f7f7f7;
	border-bottom: 5px solid #0C7486;
	padding: .5em 2em;
}

/* Media Queries */

@media screen and (min-width:750px)
{
	nav li {display: inline;
					margin-right: 1.5em;}

	.work-list {display: flex;
							flex-wrap: wrap;
					justify-content: space-between;}
	.work-list li {width: 48%;}

}

@media screen and (min-width:880px)
{
	.work-list li {flex-wrap: nowrap;
									width: 23%;}
	}
